{
	"server":{
		"hostname": "localhost",
		"port": 8000,
		"https_port": 8001
	},
	"db":{
		"mysql_user": "",
		"mysql_pass": "",
		"mysql_db": "",
		"mysql_port": 3306,
		"mysql_host": "localhost"

	},
	"https":{
		"key": "src/config/key/server.key",
		"cert": "src/config/key/server.crt"
	}
}
